button.expense-button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem !important;
  border: none;
  font-weight: 600;
  font-size: 1.2rem !important;
  font-family: "Akaya Kanadaka", system-ui !important;
}

button.nohover {
  pointer-events: none;
}

button.expense-button:hover {
  background-color: var(--expenser-button-bg-color);
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.4s;
  color: #fff;
}

section.result {
  padding: 2rem;
  background-color: var(--result-section-bg-color);
  margin: 2rem 0rem;
  border-radius: 0.5rem;
}

section.result h4 {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Akaya Kanadaka", system-ui;
  color: red;
  text-align: center;
}

section.result table {
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

section.result table tr th,
section.result table tr td {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid var(--table-border-color);
  color: var(--table-text-color);
}

section.result table tr td {
  font-weight: 600;
}

div.S9gUrf-YoZ4jf {
  display: flex !important;
  justify-content: center !important;
}