button {
  padding: 0.5rem 1rem;
  border-radius: 0.5rem !important;
  border: none;
  font-weight: 600;
  font-size: 1.2rem !important;
  font-family: "Akaya Kanadaka", system-ui !important;
}

button.nohover {
  pointer-events: none;
}

button:hover {
  background-color: transparent;
  border: 1px solid #fff;
  color: #fff;
  transition: all 0.4s;
  color: #fff;
}

section.result {
  padding: 2rem;
  background-color: #fff;
  margin: 2rem 0rem;
  border-radius: 0.5rem;
}

section.result h4 {
  font-size: 1.2rem;
  font-weight: 600;
  font-family: "Akaya Kanadaka", system-ui;
  color: red;
  text-align: center;
}

section.result table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

section.result table tr th,
section.result table tr td {
  padding: 0.5rem 1rem;
  border-bottom: 1px solid #000000;
}

section.result table tr td {
  font-weight: 600;
  color: #1E223F;
}